* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50vw;
    color: gray;
}

.main__button {
    width: 150px;
    height: 150px;
    color: gray;
    font-size: 25px;
    border: 5px solid gray;
    background-color: black;
    border-radius: 100%;
    transition: .2s transform;
}

.main__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main__button:active {
    transform: scale(.8);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    color: gray;
    gap: 5px;
}

.section__element {
    display: flex;
    flex-direction: row;
    width: 180px;
    gap: 30px;
    border-bottom: 5px solid gray;
}

.section__element:hover {
    cursor: pointer;
    border-color: white;
}

.element__value {
    height: 50px;
    line-height: 50px;
}

.element__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}